.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
.git/**
node_modules/**
webpack.config.js
.cursor
.env
.env.*
coverage/**
.nyc_output/**
**/*.vsix
npm-debug.log
yarn-error.log 